.coins {
  &__table {
    // width: 80%;
  }
  &__col {
    &--name {
    }
    &--price {
    }
    &--change {
    }
    &--market-cap {
    }
    &--volume {
    }
    &--supply {
    }
  }

  &__th {
    &--align-right {
      text-align: right;
    }
  }

  &__tr {
    vertical-align: middle;
  }

  &__td {
    &--align-right {
      text-align: right;
    }
  }
}
